{{page-title "ember-reading-time"}}

<h1>Welcome to ember-reading-time</h1>

{{outlet}}

{{reading-time this.demoText}}

<br />

{{reading-time this.demoText (hash language='ja')}}

<hr />

{{this.demoText}}
