{{page-title "Dummy"}}

<h2 id="title">Welcome to ember-reading-times</h2>

{{outlet}}

{{reading-time this.demoText}}

<br />

{{reading-time this.demoText (hash language='ja')}}

<hr />

{{this.demoText}}
